.head{
    color: rgba(255,255,255,0.876);
    font-size: 50px;

}
.aboutback{
    background-color: #3636aae2;

}
.underline{
    width: 100px;
    height: 8px;
    background-color: #333;
    margin-top: 8px;

}
.course-details{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite ;

}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.java-img{
    width: 100px; /* set your prefer width*/
    height: auto;
    margin-bottom: 10px;
}

