.logo{

    height: 200px;
    width: 300px;
    padding-right: 10px;

}
.logoContainer{
    background-color: rgb(217,235,251);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33395d;
    color: #fff;
    height: 60px;
    padding: 0 20px;

}

.List{

    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.listItem{
    margin-right: 70px;
    font-size: larger;
    color: #fff;
    text-decoration: none;
    padding-left: 100px;

}    
.listItem:hover{
    text-decoration: underline;

}

